<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/payroll/<%= action === 'add' ? 'add' : 'update/' + locals.id  %>" method="post">
            <div class="flex gap-8">
                <input type="hidden" name="employee_id" value="<%= employee_id %>">
                
                <div>
                    <label for="hours_worked">Hours Worked</label><br>
                    <input type="number" name="hours_worked" id="hours_worked" class="input input-primary" 
                    value="<%= locals.hours_worked %>" required>
                </div>
                <div>
                    <label for="overtime">Overtime</label><br>
                    <input type="number" name="overtime" id="overtime" class="input input-primary" value="<%= locals.overtime_hours %>" required>
                </div>
                <div>
                    <label for="absent_days">Days Absent</label><br>
                    <input type="number" name="absent_days" id="absent_days" class="input input-primary" value="<%= locals.absent_days %>" required>
                </div>
                
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
    
</body>
</html>